In [1]:
#For the given code:
#Ive made a table in order to find the ratios of those who were surveyed to the two sets of observational data 
#(an official estimate and my satellite estimate) of the population in the villages of interest. 
#There are four columns:
#Village=village of interest
#Count_official=the count of structures from an official map
#Sat_Count=my own estimate of villages by counting structures in a map (assuming that 1 structure is owned by a person)
#Villaged_Surveyed=the number of surveyed people in this study based on village association.
#Village_Surveyed_to_Official_Ratio=Village_surveyed divided by Official 
#Village_Surveyed_to_Sat_Ratio=Village_Surveyed divided by Sat_Count

In [4]:
from io import StringIO
import pandas as pd

In [5]:
Table_1 = '''Village,Official_count,Sat_Count,Village_Surveyed
Abar,40,45,46
Ajau_Evale_Hobong,100,84,56
Asei,40,40,29
Atamali,40,38,35
Ayapo,120,140,120
Babrongko, 65,120,67
Burawai,20,16,8
Donday,50,57,50
Doyo_Lama,N/A,N/A,N/A
Ebunfauw,50,39,36
Flafow,N/A,N/A,N/A
Kalio,40,39,30
Kampung_Baru,25,54,36
Kensio,20,19,19
Khageuw,15,27,16
Khamayakha,50,104,14
Kheleubulow,N/A,N/A,52
Kwadeware,30,27,30
Obolyo,18,18,11
Pantai_Yahim,30,27,13
Puai,60,80,74
Simporo,65,113,62
Sosiri,N/A,N/A,96
Tanjung_Elmo,N/A,N/A,N/A
Yakonde,70,55,59
Yobeh,40,38,34
Yoboi,70,64,49
Yoka,150,193,28
Yokiwa,80,64,43'''

data = pd.read_csv(StringIO(Table_1))
data['Village_Surveyed_to_Official_Ratio'] = data['Village_Surveyed']/data['Official_count']
data['Village_Surveyed_to_Sat_Ratio'] = data['Village_Surveyed']/data['Sat_Count']

In [6]:
data

,Village,Official_count,Sat_Count,Village_Surveyed,Village_Surveyed_to_Official_Ratio,Village_Surveyed_to_Sat_Ratio
0,Abar,40,45,46,1.150000,1.022222
1,Ajau_Evale_Hobong,100,84,56,0.560000,0.666667
2,Asei,40,40,29,0.725000,0.725000
3,Atamali,40,38,35,0.875000,0.921053
4,Ayapo,120,140,120,1.000000,0.857143
5,Babrongko,65,120,67,1.030769,0.558333
6,Burawai,20,16,8,0.400000,0.500000
7,Donday,50,57,50,1.000000,0.877193
8,Doyo_Lama,NaN,NaN,NaN,NaN,NaN
9,Ebunfauw,50,39,36,0.720000,0.923077
10,Flafow,NaN,NaN,NaN,NaN,NaN
11,Kalio,40,39,30,0.750000,0.769231
12,Kampung_Baru,25,54,36,1.440000,0.666667
13,Kensio,20,19,19,0.950000,1.000000
14,Khageuw,15,27,16,1.066667,0.592593
15,Khamayakha,50,104,14,0.280000,0.134615
16,Kheleubulow,NaN,NaN,52,NaN,NaN
17,Kwadeware,30,27,30,1.000000,1.111111
18,Obolyo,18,18,11,0.611111,0.611111
19,Pantai_Yahim,30,27,13,0.433333,0.481481
20,Puai,60,80,74,1.233333,0.925000
21,Simporo,65,113,62,0.953846,0.548673
22,Sosiri,NaN,NaN,96,NaN,NaN
23,Tanjung_Elmo,NaN,NaN,NaN,NaN,NaN
24,Yakonde,70,55,59,0.842857,1.072727
25,Yobeh,40,38,34,0.850000,0.894737
26,Yoboi,70,64,49,0.700000,0.765625
27,Yoka,150,193,28,0.186667,0.145078
28,Yokiwa,80,64,43,0.537500,0.671875